body{
    background-color: white;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.logo_occitanie:hover{
    opacity: 0.7;
}

h1{
    color: black;
    text-align: center;
    font-size: 60px;
    margin: auto;
}

.rouge{
    background-color: rgb(173, 1, 0);
    float: left;
    width: 50%;
    height: 500px;
    text-align: center;

}
    
.jaune{
    background-color: rgb(245, 228, 0);
    float: right;
    width: 50%;
    height: 500px;
    text-align: center;
}

.boite_blanche{
    color: black;
    background-color: white;
    border-radius: 5px;    
    width: 50%;
    padding: 10px;
    margin-top: 180px;
    display: inline-block;

}

.boite_blanche:hover{
    background-color: rgb(226, 226, 226);
    border: solid;
    border-width: 2px;
}

.boite_bas{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;   
    width: 30%;
    text-align: center;

}

.boite_bas:hover{
    background-color: rgb(226, 226, 226);
    border: solid;
    border-width: 2px;
}



.bas1{
    color: rgb(245, 228, 0);
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.link{
    color: rgb(245, 228, 0);
    text-decoration: none;
}

.link:hover{
    color: #ffffff;
    text-decoration: none;
}

.image_bas{
    float: right;
    margin-left: auto;
    margin-right: auto;
}
